{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": 8
        }
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    [
      "babel-plugin-module-resolver",
      {
        "alias": {
          "halite": "halite/airesources/JavaScript/hlt"
        }
      }
    ]
  ]
}
